/* Importando as fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* Fim da importação das fontes */

:root {
    /* Primary */
    --pink: hsl(322, 100%, 66%);

    /* Neutral */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --white: hsl(0, 0%, 100%);
    --shadow: hsl(0,1.4%,72.9%);
}

.initial {
    background-image: url(../images/bg-hero-mobile.svg);
    background-size: cover;
    height: 100vh;
    background-color: var(--very-pale-cyan);
}

.btn-try-free {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important;
    font-size: 0.7em !important;
    /* margin-right: 2em; */
    border-radius: 1em !important;
    padding: 0.5em 2em 0.5em 2em !important;
    background-color: var(--white) !important;
    color: var(--very-dark-cyan) !important;
    font-weight: 700 !important;
    background-color: var(--white);
    box-shadow: 1px 1px 1px var(--shadow);
}

.title-first-section {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
}

.paragraf-first-section {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.btn-getstarted {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important;
    font-size: 0.9em !important;
    border-radius: 2em !important;
    padding: 0.5em 1em 0.5em 1em;
    margin-right: -1em;
    margin-left: -1em;
    background-color: var(--pink) !important;
    border-color: var(--pink) !important;
    box-shadow: 1px 1px 1px var(--shadow);
}

.second {
    padding: 2em;
}
.box-second-section-1 {
    box-shadow:  0px 3px 3px 3px rgb(220, 214, 214);
    padding: 1em;
    background-color: white;
    padding: 2em;
    margin-top: 5em;
    height: 70vh;
    border-radius: 1em;
}

.img-second-section {
    height: 35vh;
    width: 65vw;
    padding: 0.5em;
}

.title-box1-second-section {
    margin-top: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: var(--very-dark-cyan);
    margin-bottom: 1em;
}

.description-box1-second-section {
    color: var(--grayish-blue);
    font-family: 'Open Sans', sans-serif;
}

.third {
    padding: 2em;
}

.box-second-section-2 {
    box-shadow:  0px 3px 3px 3px rgb(220, 214, 214);
    padding: 1em;
    background-color: white;
    padding: 2em;
    height: 70vh;
    border-radius: 1em;
}

.img-third-section {
    height: 35vh;
    width: 65vw;
    padding: 0.5em;
}

.title-box2-third-section {
    margin-top: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: var(--very-dark-cyan);
    margin-bottom: 1em;
}

.description-box2-third-section {
    color: var(--grayish-blue);
    font-family: 'Open Sans', sans-serif;
}

/* Ínicio da media query */
@media screen and (min-width: 375px) {
    .initial {
        height: 115vh;
    }
}

@media screen and (min-width: 1440px) {
    .initial {
        height: 80vh;
    }
}
/* Tratamento da primeira imagem na primeira seção */

@media screen and (min-width: 800px) {
    #img-first {
        width: 100vw !important;
        margin-right: 3em;
        height: 62vh !important;
    }
}